<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/gh/cosmogicofficial/quantumalert@latest/minfile/quantumalert.js" charset="utf-8"></script>
    <%- include('../Files/HeaderFiles.ejs') %>
    <title>Contact Website</title>
</head>
<body>

<%- include('../Files/Header.ejs') %>

<header class="slider slider-prlx fixed-slider text-center">
    <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="/img/slid/02.jpg" data-overlay-dark="6">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-9">
                                <div class="caption center mt-30">
                                    <h1 class="color-font">Contact Website</h1>
                                    <p>If you need a place to secure your all contact details under one roof,
                                        You are at the right place for it </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="/img/slid/02.jpg" data-overlay-dark="6">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-9">
                                <div class="caption center mt-30">
                                    <h1 class="color-font">Secure Your Data Here</h1>
                                    <p>
                                         </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="/img/slid/02.jpg" data-overlay-dark="6">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-9">
                                <div class="caption center mt-30">
                                    <h1 class="color-font">Register Now</h1>
                                    <p>
                                    </p>
                                    <a href="/sign-up" class="butn bord curve mt-30">
                                        <span>Register </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- slider setting -->
        <div class="setone setwo">
            <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
        <div class="swiper-pagination top botm "></div>

        <div class="social-icon">
            <a href="#0"><i class="fab fa-facebook-f"></i></a>
            <a href="#0"><i class="fab fa-twitter"></i></a>
            <a href="#0"><i class="fab fa-behance"></i></a>
            <a href="#0"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</header>


<div class="main-content">

    <section class="about-us section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 valign md-mb50">
                    <div class="mb-50">
                        <h6 class="fw-100 text-u ls10 mb-10">About Us</h6>
                        <h3 class="fw-600 text-u ls1 mb-30 color-font">Our Comapny</h3>
                        <p> We take pride in providing a secure and efficient solution for saving user contacts.
                            We understand the importance of maintaining a reliable database of contacts, ensuring that our users can access
                            their information anytime, anywhere. Our platform employs state-of-the-art encryption protocols to safeguard personal data,
                            adhering strictly to industry standards for privacy and security.</p>

                    </div>
                </div>
                <div class="col-lg-7 img">
                    <img src="/img/feat.jpg" alt="">
                    <div class="stauts">
                        <div class="item">
                            <h4>3<span>K</span></h4>
                            <h6>Happy Clients</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('../Files/Footer.ejs') %>
</div>




<%- include('../Files/Scripts.ejs') %>
</body>
</html>